*{
    margin: 1%;
    padding: 0;
    text-align: center;
    
}
body{
    background-color: rgb(249, 241, 232);
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
    border-radius: 2rem;
    background-color:rgb(172, 221, 237);
}
header{
    padding-top: 2rem;

}
.home{
    text-align: center;
    padding: 0.5rem;
    flex: 1;
    border-right: 1px solid white;
}
.about{
    text-align: center;
    padding: 0.5rem;
    flex: 1;
    border-right: 1px solid white;
}
.services{
    text-align: center;
    padding: 0.5rem;
    flex: 1;
    border-right: 1px solid white;
}
.contacts{
    text-align: center;
    padding: 0.5rem;
    flex: 1;
    border-right: 1px solid white;
}
.prices{
    text-align: center;
    padding: 0.5rem;
    flex: 1;
    border-right: 1px solid white;
}
.appointment{
    text-align: center;
    padding: 0.5rem;
    flex: 1;
}
.menu:hover .home:hover{
    background-color: whitesmoke;
    transition: 0.1s;
}
.about:hover{
    background-color: whitesmoke;
    transition: 0.1s;
}
.services:hover{
    background-color: whitesmoke;
    transition: 0.1s;
}
.contacts:hover{
    background-color: whitesmoke;
    transition: 0.1s;
}
.prices:hover{
    background-color: whitesmoke;
    transition: 0.1s;
}
.appointment:hover{
    background-color: whitesmoke;
    transition: 0.1s;
}
img:hover{
    transform: scale(1.05, 1.05);
    transition: 0.1s;
    cursor: pointer;
}
figcaption{
    color: rgb(100, 85, 85);
    font-weight: initial;
    background-color: rgb(243, 247, 248);
    border-radius: 2rem;
    margin-top: 0.5rem;
    font-size: x-small;

}

/* CSS code for the main content */
.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex:1;
    margin-top: 1rem;
    gap: 6rem;
}
img{
    border-radius: 1.4rem;
    margin-top: 1rem;
}
.hours{
    flex: 1;
    background-color: rgb(250, 252, 244);
    padding-bottom: 1rem;
    border-radius: 2rem;
}
.offers{
    flex: 1;
    background-color: rgb(244, 246, 247);
    padding-bottom: 1rem;
    border-radius: 2rem;
}


.men{
    flex: 1;
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 1rem;
    border-radius: 2rem;
}
h5{
    color: rgb(134, 24, 37);
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    background-color: rgba(108, 119, 128, 0.466);
    margin-top: 5px;
    border-radius: 2rem;
    border-bottom: 5px solid rgb(5, 172, 181) ;
    flex: 0.1;
}

input{
    background-color: rgb(151, 171, 223);
    margin-top: 2rem;
    width: 10rem;
    text-align: center;
    color: blue;
    border-radius: 2rem;

}
input:hover{
    cursor: pointer;
    background-color: antiquewhite;
    transform: scale(0.9, 0.9);
    transition: 0.1;
}
h3{
    color: brown;
}
table, td, tr, th{
    border: 1.3px solid burlywood;
    border-collapse: collapse;
}
.final{
    color: blue;
}
.discount{
    color: rgb(255, 0, 43);
}
h6{
    color: brown;
}
legend{
    color: crimson;
}
/* Foot */
.foot{
    display: flex;
    gap: 3rem;
    align-items: flex-end;
    border-top: 2px solid rgb(226, 169, 169);
    margin-bottom: 4%;
    padding-top: 0.1rem;
    border-bottom: 2px solid black;
    padding-bottom: 2em;
    margin-top: 3rem;
    background-color:rgb(230, 213, 196) ;
    flex-wrap: wrap;
    padding-left: 2em;
}
.imglogo{
    align-items: center;
}
.copyright{
    flex: 1;
    background-color: rgb(213, 207, 218);
}
.media{
    flex: 2;
    display: flex;
    gap: 2px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 2em;
    border-left: 2px solid white;
    padding-left: 2em;
}
.copyright:hover{
    background-color: azure;
    cursor: pointer;
    transition: 0.1s;
}
.welcome{
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(198, 110, 110);
    padding-bottom: 2rem;
    font-weight: bold;
}
